Repository datasciencecampus/transport-network-performance, pull requests merged in 2023-12, with the labels that each got.

#193 159 osmvalidate module
  .gitignore
  CONTRIBUTING.md
  notebooks/osm/01-visualise-osm.py
  pipeline/osm/01-validate-osm.py
  pipeline/osm/config/01-validate-osm.toml
  requirements.txt
  scripts/prep-fixtures.py
  src/transport_performance/osm/validate_osm.py
  tests/data/small-osm.pbf
  tests/osm/test_validate_osm.py
Labels: enhancement, OSM

#223 Patch multigtfs test
  src/transport_performance/gtfs/multi_validation.py
  tests/gtfs/test_multi_validation.py
Labels: bug, multi gtfs

#200 173 analyse network
  .github/workflows/integration-tests.yml
  .github/workflows/python-package-windows.yml
  notebooks/analyse_network/analyse_network_timed.py
  notebooks/urban_centres/buffer_experiments.py
  requirements.txt
  src/transport_performance/analyse_network.py
  tests/analyse_network/analyse_network_fixtures.py
  tests/test_analyse_network.py
Labels: medium, r5py

#207 Multi gtfs instance
  src/transport_performance/gtfs/gtfs_utils.py
  src/transport_performance/gtfs/multi_validation.py
  src/transport_performance/gtfs/validation.py
  tests/gtfs/test_gtfs_utils.py
  tests/gtfs/test_multi_validation.py
  tests/gtfs/test_validation.py
  tests/osm/test_validate_osm.py
Labels: medium, GTFS
