Repository datasciencecampus/transport-network-performance, pull requests merged in 2023-10, with the labels that each got.

#156 86 90 92 small fixes
  notebooks/urban_centres/poc_urban_centres.py
  src/transport_performance/urban_centres/raster_uc.py
  tests/urban_centres/test_urban_centres.py
Labels: small, urban centre

#158 68 69 Tidy up docstrings in GTFS module
  src/transport_performance/gtfs/gtfs_utils.py
  src/transport_performance/gtfs/report/report_utils.py
  src/transport_performance/gtfs/routes.py
  src/transport_performance/gtfs/validation.py
  tests/gtfs/test_validation.py
Labels: documentation, small

#163 87 94 docs
  src/transport_performance/urban_centres/raster_uc.py
  src/transport_performance/utils/defence.py
  tests/urban_centres/test_urban_centres.py
Labels: documentation, small, urban centre

#171 164 166 170 Add source data folder and improve pathing to package root
  .gitignore
  MANIFEST.in
  pipeline/gtfs/config/01-validate-gtfs.toml
  pyproject.toml
  scripts/prep-fixtures.py
  src/transport_performance/data/gtfs/report/.gitkeep
  src/transport_performance/data/gtfs/report/css_styles/styles.css
  src/transport_performance/data/gtfs/report/html_templates/evaluation_template.html
  src/transport_performance/data/gtfs/report/html_templates/stops_template.html
  src/transport_performance/data/gtfs/report/html_templates/summary_template.html
  src/transport_performance/data/gtfs/route_lookup.pkl
  src/transport_performance/data/osm/.gitkeep
  src/transport_performance/data/population/.gitkeep
  src/transport_performance/data/urban_centres/.gitkeep
  src/transport_performance/data/utils/.gitkeep
  src/transport_performance/gtfs/gtfs_utils.py
  src/transport_performance/gtfs/report/report_utils.py
  src/transport_performance/gtfs/routes.py
  src/transport_performance/gtfs/validation.py
  src/transport_performance/utils/constants.py
  tests/data/gtfs/newport-20230613_gtfs.zip
  tests/data/newport-20230613_gtfs.zip
  tests/gtfs/test_gtfs_utils.py
  tests/gtfs/test_routes.py
  tests/gtfs/test_validation.py
  tests/osm/test_osm_utils.py
  tests/test_setup.py
  tests/utils/test_defence.py
Labels: small, should

#125 77 gtfs validation check fast travel
  .gitignore
  notebooks/gtfs/stop_id_check.py
  requirements.txt
  src/transport_performance/gtfs/cleaners.py
  src/transport_performance/gtfs/gtfs_utils.py
  src/transport_performance/gtfs/validation.py
  src/transport_performance/gtfs/validators.py
  src/transport_performance/utils/defence.py
  tests/data/chester-20230816-small_gtfs.zip
  tests/gtfs/test_cleaners.py
  tests/gtfs/test_gtfs_utils.py
  tests/gtfs/test_validation.py
  tests/gtfs/test_validators.py
  tests/utils/test_defence.py
Labels: medium, GTFS

#177 160 148 defences
  src/transport_performance/gtfs/cleaners.py
  src/transport_performance/gtfs/gtfs_utils.py
  src/transport_performance/gtfs/validation.py
  src/transport_performance/osm/osm_utils.py
  src/transport_performance/urban_centres/raster_uc.py
  src/transport_performance/utils/defence.py
  tests/gtfs/test_validation.py
  tests/urban_centres/test_urban_centres.py
  tests/utils/test_defence.py
Labels: small, utils, urban centre

#178 154 152 implement _enforce_file_extension() package wide and add defence.py functions to GTFS module
  src/transport_performance/gtfs/gtfs_utils.py
  src/transport_performance/gtfs/routes.py
  src/transport_performance/gtfs/validation.py
  src/transport_performance/osm/osm_utils.py
  src/transport_performance/urban_centres/raster_uc.py
  src/transport_performance/utils/defence.py
  src/transport_performance/utils/raster.py
  tests/gtfs/test_validation.py
  tests/osm/test_osm_utils.py
  tests/utils/test_defence.py
  tests/utils/test_raster.py
Labels: small
