Repository datasciencecampus/transport-network-performance, pull requests merged in 2024-05, with the labels that each got.

#248 185 html report always cleaning
  src/transport_performance/gtfs/report/report_utils.py
  src/transport_performance/gtfs/validation.py
  src/transport_performance/gtfs/validators.py
  tests/gtfs/report/test_report_utils.py
  tests/gtfs/test_cleaners.py
  tests/gtfs/test_multi_validation.py
  tests/gtfs/test_validators.py
Labels: x-small, GTFS

#265 264 new test fixture expected validity df
  tests/gtfs/conftest.py
  tests/gtfs/test_cleaners.py
  tests/gtfs/test_gtfs_utils.py
  tests/gtfs/test_routes.py
  tests/gtfs/test_validation.py
  tests/gtfs/test_validators.py
Labels: enhancement, GTFS

#282 fix: added quartodoc build stage to render pages in gh-pages
  .github/workflows/quarto-render.yml
  README.md
Labels: documentation
