Repository datasciencecampus/transport-network-performance, pull requests merged in 2024-01, with the labels that each got.

#233 Fix summaries in MultiGtfsInstance
  src/transport_performance/gtfs/multi_validation.py
  tests/gtfs/test_multi_validation.py
Labels: multi gtfs, fix

#232 230 filter osm input
  src/transport_performance/osm/osm_utils.py
  tests/osm/test_osm_utils.py
Labels: fix

#238 A get_dates() method for MultiGtfsInstance
  src/transport_performance/gtfs/multi_validation.py
  tests/gtfs/test_multi_validation.py
Labels: enhancement, multi gtfs

#236 Allow for viz_stops to be used without stop_code column for MGTFS
  src/transport_performance/gtfs/multi_validation.py
  tests/gtfs/test_multi_validation.py
Labels: multi gtfs, e2e

#243 feat: more efficient method for converting calendar to calendar_dates
  src/transport_performance/gtfs/calendar.py
Labels: GTFS, multi gtfs

#241 235 create synthetic calendar if only calendar dates is used
  src/transport_performance/gtfs/calendar.py
  src/transport_performance/gtfs/multi_validation.py
  src/transport_performance/gtfs/validation.py
  tests/gtfs/test_calendar.py
  tests/gtfs/test_multi_validation.py
Labels: enhancement

#242 224 gtfs kit save overwrite
  src/transport_performance/gtfs/multi_validation.py
  src/transport_performance/gtfs/validation.py
  tests/gtfs/test_multi_validation.py
  tests/gtfs/test_validation.py
Labels: GTFS, multi gtfs

#245 chore: Pin pytest version lower than 8.0.0
  requirements.txt
Labels: bug
