Repository datasciencecampus/transport-network-performance, pull requests merged in 2024-06, with the labels that each got.

#284 268 docs gtfs tutorial
  .gitignore
  _quarto.yml
  docs/_static/styles.css
  docs/explanation/index.qmd
  docs/how_to/gtfs/index.qmd
  docs/how_to/index.qmd
  docs/how_to/osm/index.qmd
  docs/how_to/uc_pop/index.qmd
  docs/tutorials/gtfs/index.qmd
  docs/tutorials/index.qmd
  src/transport_performance/population/rasterpop.py
  src/transport_performance/population/vectorpop.py
Labels: documentation, multi gtfs

#286 269 docs osm tutorial
  _quarto.yml
  docs/tutorials/gtfs/index.qmd
  docs/tutorials/osm/index.qmd
  src/transport_performance/osm/validate_osm.py
Labels: documentation, OSM

#291 276 docs explain tp page
  .gitignore
  _quarto.yml
  docs/_static/styles.css
  docs/explanation/what_is_tp/accessible_pop.PNG
  docs/explanation/what_is_tp/index.qmd
  docs/explanation/what_is_tp/newport_tp.PNG
  docs/explanation/what_is_tp/proximity_pop.PNG
  index.qmd
Labels: documentation

#292 290 docs overall tp pipeline
  .gitignore
  docs/explanation/calculate_tp/index.qmd
  docs/tutorials/osm/index.qmd
Labels: documentation

#294 287 improve osm maps with tag metadata
  docs/tutorials/osm/index.qmd
  requirements.txt
  src/transport_performance/osm/validate_osm.py
  tests/osm/test_validate_osm.py
Labels: documentation, enhancement, OSM
